@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@200&family=Poppins:wght@200&family=Roboto+Mono&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.contenedor-Padre{
    margin: 8px 4px 4px 4px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2,1fr);
    column-gap: 8px;
}

.contenedorTarjetaMinimal{
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 8px;
    font-family: 'Roboto', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;    
}

.photoEnfermedadMinimal{
    position: relative;
    width: 100%;
}

.photoEnfermedadMinimal img{
    width: 100%;
}
.photoEnfermedadMinimal h2{
    font-size: 16px;
    margin-top: 5px;
}

.contenedorBtn{
    display: flex;
    justify-content: center;
    margin: 4px 0 4px 0;
}


.button {
    width: 16em;
    border: none;
    border-radius: 10em;
    background: #016DD9;
    font-size: 17px;
    color: #ffffff;
    font-family: inherit;
    font-weight: 500;
    margin: 6px 0px 6px 0px;
   }

/* expandir */

.contenedorTarjetaDetallle{
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 6px;
}


.tarjetaDetalle{
    margin: 8px 4px 4px 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 12px;
    overflow: hidden;

}

.imagenDetalle{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.btnClose{
    position: absolute;
    top: 8px; 
    right: 5px; 
    padding: 5px;
    width: 40px;
    height: 40px;
    background-color: #000;  
    opacity: .5;
    color: #fff;
    border: none;
    border-radius:  0px 12px 0px 0px;
    z-index: 1;
}

.imagenDetalle img{
    width: 100%;
}
.imagenDetalle h2{
    font-size: 16px;
    margin-top: 5px;
    padding: 0 0 0 12px;
}

.definicionDetalle{
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 12px 0px 12px;
    width: 100%;
}

.sintomas{
    display: none;
    margin-top: 4px;
    padding: 0px 12px 6px 12px;
    width: 100%;
}

.sintomas h2{
    font-size: 16px;
    margin-top: 5px;
}

.sintomas a{
    color: #016DD9;
}